---
import "../styles/global.css"
import Nav from "../components/nav.astro"
import  Footer from "../components/footer.astro"

const title = "Finn's Blog Archive"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
       <Nav></Nav>

		<h1>About Finn's Blog</h1>
		<p>About the blog from  Finn.</p>
		<Footer></Footer>
	</body>
</html>
