---
import "../styles/global.css"
import Nav from "../components/nav.astro"
import Footer from "../components/footer.astro"
import Standard from "../layouts/standard.astro"
const title = "Finn's Blog"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Standard>
			<p>Welcome to my Blog</p>
		</Standard>
	</body>
</html>
